@model Cash_Inspection.Models.Category
@using Cash_Inspection.Models;

@{
    ViewBag.Title = "Details";
    IdentityUnitOfWork _Manager = new IdentityUnitOfWork();
}



<div class="container">
    <div class="row">


        <div class="col-md-12 pull-left text-left">
            <ul class="list-group">
                <li class="list-group-item">

                    <h3>Категория: <span class="label label-default">@Model.Title</span></h3>
                    <br><h4>Распредленно:@Math.Floor(Model.NumberofMoney)</h4>

                </li>

            </ul>
            <div class="col-md-6">
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <a style="color: #fff" class="btn btn-success" href="@Url.Action("CreateImp", "Subcategories", new { id = ViewBag.ID })">Добавить расход</a>
                    <a style="color: #fff" class="btn btn-success" href="@Url.Action("CreateUmp", "Subcategories", new { id = ViewBag.ID })">Добавить доход</a>
                    <a  style="color: #fff" class="btn btn-danger" href='@Url.Action("Index", "Categories")'>Назад</a>
                </div>
            </div>

        </div>


        <div class="col-md-6 pull-left" style="overflow-y:scroll;max-height:25em">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Имя</th>
                        <th>Средства</th>
                        <th>Дата</th>
                    </tr>
                </thead>


                @foreach (Subcategory item in _Manager.Categories.GetAllSubcategory(Model))
                {
                    <tbody>
                        <tr>
                            <td>@item.Title</td>
                            <td>@item.Value</td>
                            <td>@item.Date</td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>
        @*статистика*@
        <div class="col-md-6">
            <div id="chart_div">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    // Подгружаем API
    google.load('visualization', '1.0', { 'packages': ['corechart'] });
    // Устанавливаем callback
    google.setOnLoadCallback(drawChart);

    function drawChart() {

        var options = {
            'title': 'Статистика:',
            'width': 500,
            'height': 340
        };

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Title');
        data.addColumn('number', 'Value');

        $.getJSON('@Url.Action("ColumnDiogram", "Subcategories", new  {  id = Model.Id })', null,
                                                      function (result) {
                                                          if (result.Countries.length) {
                                                              $.each(result.Countries, function (index, c) {
                                                                  data.addRow([c.Title, c.Value]);
                                                              });
                                                              // Отрисовка диаграммы
                                                              var chart = new google.visualization.LineChart(
                                                                                    document.getElementById('chart_div'));
                                                              chart.draw(data, options);
                                                          };
                                                      });
    }
</script>

