@model IEnumerable<Cash_Inspection.Models.Category>
@using Microsoft.AspNet.Identity;
@using Cash_Inspection.Models;

@{
    ViewBag.Title = "Index";
    DataEntities db = new DataEntities();
}


<!-- Button trigger modal -->




<div class="container" style="min-height:490px;">
    @*внутреняя компоновка*@

    @*основной контент*@
    <div class="row">
        <div class="col-md-13">

            <div class="col-md-12 pull-right text-left">
                <ul class="list-group">
                    @if (User.Identity.IsAuthenticated)
                    {

                        <li class="list-group-item">

                            Не распределено <b>средств</b>:
                            <div class="badge">

                                @Html.Action("TotalMoney")

                            </div>
                            <div class="badge" style="background-color:#5cb85c">
                                <a style="color: #fff" href='@Url.Action("AddTotalResources","Account")'>Добавить</a>
                            </div>
                            <br>Распределено <b>средств</b>:
                            <div class="badge">

                                @Math.Floor(Model.Sum(x => x.ApplicationUser.ListCategory.Sum(s => s.NumberofMoney) / x.ApplicationUser.ListCategory.Count))
                            </div>

                        </li>
                    }

                </ul>
                <div class="btn-group col-md-6">
                    <a class="btn btn-success" type="button" href='@Url.Action("Create")'>
                        Добавить категорию
                    </a>
                    
                     <button class="btn btn-default" type="button" href='@Url.Action("Create")'>
                        Последнее
                    </button>
                    <button class="btn btn-default" type="button" href="#">
                        Возрастанию
                    </button>
                        <button class="btn btn-default" type="button"href="#">Убыванию</button>
                        
                    
                </div>
                
            </div>

        </div>
        
        <div class="col-md-7" style="overflow-y:scroll;max-height:45em">
            <br>
            @foreach (var item in Model)
            {
                <ul class="collapsible" data-collapsible="accordion">
                    <li>
                        <div class="eid_menu_right">
                            
                            <a href='@Url.Action("Edit", "Categories", new { id = item.Id })'><i class="material-icons">settings</i></a>
                            <a href='@Url.Action("Details", "Categories", new { id = item.Id })'><i class="material-icons">info_outline</i></a>
                            <a data-toggle="modal" data-target="#myModal"><i class="material-icons">delete</i></a>
                            
                        </div>
                        
                        <div class="collapsible-header"><i class="material-icons">person_pin</i>@Html.DisplayFor(modelItem => item.Title) <span class="label label-default text-right">@Html.DisplayFor(modelItem => item.NumberofMoney)</span> </div>
                    </li>

                </ul>

                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title">Удаление категории</h4>
                            </div>
                            <div class="modal-body">
                                <p>Вы действительно хотите удалить данную категорию?Это может привести к потере хранимых в ней средств.</p>
                                <p>@item.Title : @item.NumberofMoney грн</p>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                                <a class="btn btn-primary" href='@Url.Action("DeleteConfirmed","Categories", new { id = item.Id})'>Удалить</a>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            }
        </div>
        <div class="col-md-5">
                <div id="chart_div"></div>
                <script type="text/javascript" src="https://www.google.com/jsapi"></script>
                <script type="text/javascript">
                    // Подгружаем API
                    google.load('visualization', '1.0', { 'packages': ['corechart'] });

                    // Устанавливаем callback
                    google.setOnLoadCallback(drawChart);

                    function drawChart() {

                        var options = {
                            'width': 420,
                            'height': 350,
                            'pieHole': 0.3,
                        };

                        var data = new google.visualization.DataTable();
                        data.addColumn('string', 'Категория');
                        data.addColumn('number', 'сумма');

                        $.getJSON('@Url.Action("Pie", "Categories")', null,
                                                                      function (result) {
                                                                          if (result.Countries.length) {
                                                                              $.each(result.Countries, function (index, c) {
                                                                                  data.addRow([c.Title, c.NumberofMoney]);
                                                                              });
                                                                              // Отрисовка диаграммы
                                                                              var chart = new google.visualization.PieChart(
                                                                                                    document.getElementById('chart_div'));
                                                                              chart.draw(data, options);
                                                                          };
                                                                      });
                    }
                </script>
            <hr />
            <div class="row">
                <div class="" style="overflow-y:scroll;max-height:22em">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Средства</th>
                                <th>Комментарий</th>
                                <th>Дата</th>
                            </tr>
                        </thead>
                        @foreach (var item in ViewBag.Log)
                        {
                            <tbody>
                                <tr>
                                    <td>@item.Value</td>
                                    <th>@item.Comment</th>
                                    <td>@item.Date</td>
                                </tr>
                            </tbody>

                        }
                    </table>
                </div>

            </div>

        </div>
    </div>



</div>

