@model IEnumerable<Cash_Inspection.Models.Category>
   @using Microsoft.AspNet.Identity;
   @using Cash_Inspection.Models; 

@{
    ViewBag.Title = "Index";
    DataEntities db = new DataEntities();
}


   
<div class="container" style="min-height:490px;">
    @*внутреняя компоновка*@
    <div class="row">
        <div class="col-md-12">
            <p>
                @Html.Action("TotalMoney")
            </p>
            <a href="@Url.Action()"></a>
            <p>
                <a class="ibtn waves-effect waves-light ibtn" href='@Url.Action("Create")'>Add Category<i class="material-icons">add</i></a>
            </p>
        </div>
    </div>
    @*основной контент*@
        <div class="row">
            <div class="col-md-7" style="overflow-y:scroll;max-height:25em">
                @foreach (var item in Model)
                {
                    <ul class="collapsible" data-collapsible="accordion">
                        <li>
                            <div class="eid_menu_right ">
                                <a href='@Url.Action("Edit","Categories", new { id = item.Id })'><i class="material-icons">settings</i></a>
                                <a href='@Url.Action("Details","Categories", new { id = item.Id })'><i class="material-icons">info_outline</i></a>
                                <a href='@Url.Action("Delete","Categories", new { id = item.Id })'><i class="material-icons">delete</i></a>
                            </div>
                            <div class="collapsible-header"><i class="material-icons">person_pin</i>@Html.DisplayFor(modelItem => item.Title)  =  @Html.DisplayFor(modelItem => item.NumberofMoney) грн</div>                            
                        </li>
                    </ul>   
                }
            </div>
        <div class="col-md-5">
            тут будет график
        </div>
    </div>

   

</div>

